.main {
	height: 100vh;
	background-color: #120A8F;
	color: #fff;
	padding-top: 40vh;
}

.items {
	margin-top: 5%;
}

.img_item {
	padding: 5%;
	margin-top: 5%;
}

.box {
	height: 100px;
	border: 2px solid #000;
}
 
.box_item {
	background-color: green;
	height: 50px;
}