header {
	background-color: #120A8F;
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}
.lorem_text {
	margin-top: 100px;
}
.box {
	padding: 15px 20px 10px 20px;
	width: 400px;
	height: 400px;
	position: relative;
	left: 50%;
	margin-left: -200px;
	margin-bottom: 50px;
	background-color: #120a8f;
	color: #fff;
}